<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Legacy CAD</title>

    <!-- Styling -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="/stylesheets/layout.css">
    <link rel="stylesheet" href="/stylesheets/global.css">
</head>
<body>

    <!-- Header -->
    <div class="header">
        <!-- Float left -->
        <div style="float: left">
            <li>Legacy Roleplay <strong>CAD</strong></li>
        </div>
        <!-- Float right -->
        <div style="float: right">
            <li><a href="https://legacyroleplay.online/">Forums</a></li>
            <li><a href="https://github.com/ExpDev07/LegacyStats">Source Code</a></li>
        </div>
    </div>

    <!-- Render the body -->
    <div class="content">{{{body}}}</div>

    <footer>
        <p>Made with <i style="color: red" class="fas fa-heart"></i> by ExpDev07</p>
    </footer>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/global.js"></script>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/civilian.js"></script>
    
</body>
</html>