<link rel="stylesheet" href="/stylesheets/index.css">

<h1>Welcome, Officer.</h1>
<hr>
<p>
    You are now at the CAD. Here you can find information which will help you with dispatching. Search civlians, run plates, revoke licenses, 
    deal warrants and issue BOLOs.
</p>

<!-- BOLOs -->
<div class="container red">
    <h3>Active BOLOs (Be On the Lookout)</h3>
    <table id="bolos">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Sex</th>
            <th>Physical Description</th>
            <th>Reason Wanted</th>
            <th>Last Seen</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>Male</td>
            <td>Red short hair and wearing blue jeans</td>
            <td>Suspect in armed robbery</td>
            <td>Going north-bound on Senora-Freeway</td>
            <td><a href="javascript:void(0)">Delete</a></td>
        </tr>

    </table>
</div>

<!-- Search civilian or plate -->
<div class="container">
    <h3>Search civilian and/or plate</h3>
    <div>
        <input id="civSearch" type="text" placeholder="Marius Truckster">
        <input id="plateSearch" type="text" placeholder="A43BC326 (Coming Soon!)">
    </div>

    <!-- To search -->
    <a id="searchBtn" href="javascript:void(0)">Search</a>

    <div class="list" id="results">
        <h3>Results</h3>
    </div>
</div>

<!-- Active Warrants -->
<!--<div class="purple">
    <h3>Warrants currently active</h3>
    <p>Coming soon</p>
</div>-->