<link rel="stylesheet" href="/stylesheets/index.css">

<h1>Welcome, Officer.</h1>
<hr>
<p>
    You are now at the CAD. Here you can find information which will help you with dispatching. Search civlians, run plates, revoke licenses, 
    deal warrants and issue BOLOs.
</p>

<!-- Search civilian or plate -->
<div class="container">
    <h3>Search civilian and/or plate</h3>
    <div>
        <input id="civSearch" type="text" placeholder="Marius Truckster">
        <input id="plateSearch" type="text" placeholder="A43BC326">
    </div>

    <!-- To search -->
    <a id="searchBtn" href="javascript:void(0)">Search</a>

    <div class="list" id="results">
        <h3>Results</h3>
    </div>
</div>

<!-- Active Warrants -->
<!--<div class="purple">
    <h3>Warrants currently active</h3>
    <p>Coming soon</p>
</div>-->