.container {
    padding: 24px; margin: 32px;
    background-color: #4040f9;
}

.container h3 {
    margin: 0;
}

.container > * {
    margin: 24px;
}

.container.red {
    background-color: #a30827;
}

.container.green {
    background-color: limegreen;
}

.left {
    float: left;
}

.right {
    float: right;
}

.list li {
    background-color: #5353e2;
    margin: 24px; 
    display: block;
    overflow: hidden;
}

.list li > * {
    padding: 14px;
}

.button {
    border: 1px solid transparent;
    background-color: #a30827;
}

.button:hover {
    color: white;
    background-color: crimson;
}

input {
    padding: 5px;
    font-size: 14px;
}