input {
    box-sizing: border-box;
    width: 100%;
    font-size: 28px;
    padding: 16px;
}

#search {
    margin-top: 24px;
    margin-bottom: 24px;
}

#searchBtn {
    border: 1px solid transparent;
    display: block;
    padding: 16px;
    background-color: #a30827;
}

#searchBtn:hover {
    color: white;
    background-color: crimson;
}

#results {
    padding: 24px;
    display: none;
}

#results li {
    padding: 12px;
}

#results li:hover {
    color: white;
    background-color: #2b2bf2;
}